* {
  box-sizing: border-box;
  color: #fff
}

html {
  background-color: #222;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.logo {
  font-size: 2.2rem;
}

.main {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.search-container label{
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.search-container input {
  background-color: #fff;
  border-style: none;
  height: 36px;
  width: 420px;
  border-radius: 18px;
  color: #222;
  text-align: center;
}

button {
  margin: 20px 0 0;
  border-style: none;
  padding: 0px 20px;
  height: 36px;
  min-width: 120px;
  background-color: #555;
  border-radius: 18px;
  cursor: pointer;
}

.results-playlist-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.results {
  padding-left: 5px;
}

h1 {
  margin: 12px 0;
  padding: 0;
  font-size: 1.8rem;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #111;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  height: fit-content;
}

.songs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.song-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 64px;
  border-radius: 5px;
}

.add-symbol {
  margin-left: auto;
}

.song-data {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 5px;
  padding: 0 5px;
}

.artist-album {
  display: flex;
  gap: 10px;
  font-size: small;
}

.album-cover {
  height: 100%;
}

.album-cover img {
  height: 100%;
  border-radius: 6px;
}

.song {
  font-weight: bold;
}

.name-input {
  background-color: transparent;
  border-style: none;
  height: 2.5rem;
  margin: 12px 0;
  color: #fff;
  text-align: center;
  border-bottom: #333 solid 3px;
}

.created-playlists-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.created-playlist {
  display: flex;
  height: 100px;
  align-items: center;
  gap: 10px;
}

.name-genre {
  display: flex;
  flex-direction: column;
  gap:5px;
}

.playlist-name {
  font-weight: bold;
}

.song-selected {
  background-color: #333;
  padding: 5px;
}